<div menu-bar>
    <ul>
        <form>
            <li>

                <input type="text" placeholder="search for continent" class="continent"> </li>
        </form>

        <li>
            <form>
                <input type="text" placeholder="search for country" class="country"> </form>
        </li>

        <li>
            <form>
                <input type="text" placeholder="search for state" class="state"> </form>
        </li>
    </ul>
</div>