body {
    background-image: url("./covid2.jpg");
    background-size: cover;
}

.country {
    /* padding-top: 10px; */
    /* margin-top: 10px; */
    /* position: relative; */
    /* margin-left: 50px; */
    margin: auto;
}

.menu-bar {
    /* margin: auto; */
    background-color: rgba(0.5, 0, 0, 0.5);
    text-align: center;
    border-radius: 15px;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.covid-data {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: oblique;
    /* background-color: background: rgba(0,0,0,0.5); */
    /* background-image: url("./covid2.jpg"); */
    border-radius: 80px;
    /* background-color; */
    /* backface-visibility:hidden */
    /* background: scroll; */
    background: rgba(0.5, 0, 0, 0.5);
    text-align: center;
    width: 500px;
    text-emphasis-color: red;
    /* text-decoration: dotted; */
    /* max-height: fit-content; */
    margin: auto;
    margin-top: 180px;
    /* height: 130vh; */
    /* text-decoration: blue; */
}

.head {
    margin: auto;
}

.world {
    margin: auto;
}

h1 {
    /* background-color: aquamarine; */
    /* background: rgba(0,0,0,0); */
    background-color: aliceblue;
    border-radius: 100px;
    text-shadow: 0 1px rgb(158, 7, 7);
}

h2 {
    background-color: aliceblue;
    border-radius: 100px;
    background: rgba(0.5, 0, 0, 0.7);
    text-shadow: 1 0px white;
}

a {
    text-decoration: none;
    color: #fff;
}

.active,
.menu-bar ul li:hover {
    background-color: rgba(0.1, 0, 0, 0.9);
    border-radius: 3px;
    /* motion: auto; */
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: rgba(0.1, 0, 0, 0.5);
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li span:hover {
    color: red;
}